
//**********************************************//
// COLORS
//**********************************************//
// Body
$background_color: #FFF;

$nav_bg_color: #e5f7f7;
$nav_bg_hover_color: #ceeff0;

$rc_blue: #00acb4;
$rc_pink: #da8cb6;
$rc_grey: #ebebeb;

$section_btn_font_color: white;

$refills_btn_bg_color: white;
$refills_border_color: #CCC;

$footer_color: white;

$form-error-red: #a94442;
$form-success-green: #497a39;
$form-success-green-bg-color: #eaf2d8;