// Notoserif
@font-face {
  font-family: NotoSerif_Rg;
  src: url( ../../site_assets/fonts/notoserif/NotoSerif-Regular.ttf );
}

@font-face {
  font-family: NotoSerif_Itl;
  src: url( ../../site_assets/fonts/notoserif/NotoSerif-Italic.ttf );
}

@font-face {
  font-family: NotoSerif_Bld;
  src: url( ../../site_assets/fonts/notoserif/NotoSerif-Bold.ttf );
}

@font-face {
  font-family: NotoSerif_BldItl;
  src: url( ../../site_assets/fonts/notoserif/NotoSerif-BoldItalic.ttf );
}



// Monsterrat
@font-face {
  font-family: Monsterrat_Rg;
  src: url( ../../site_assets/fonts/monsterrat/Montserrat-Regular.ttf );
}

@font-face {
  font-family: Monsterrat_Bld;
  src: url( ../../site_assets/fonts/monsterrat/Montserrat-Bold.ttf );
}
