.connect-base {
	@extend .border-top;

	background: $footer_color;
	position: relative;
	// overflow-x: hidden;
	//margin: 0 auto;


	.connect-container {
		width: 80%;
		margin: 0 auto;


		h2 {
			font-family: NotoSerif_Itl, Times, serif;
			font-size: 2.0em;
			letter-spacing: 1px;
			color: $rc_blue;
			margin: 30px 0;
			text-align: center;
		}


		.icon-container {
			// position: relative;
			// margin: 0 auto 50px auto;

			position: relative;
			margin: 0 auto;
			height: 92px;
			margin-bottom: 50px;
			text-align: center;
			

			svg {
				fill: $rc_blue;
				
				&:hover {
					fill: $rc_pink;
				}
			}




			ul {
				display: inline-block;
				margin: 0 auto;
				padding: 0;


				li {
					width: 71px;
					height: 71px;
					margin: 10px 30px;
					float: left;

					@include respond-to( xxs ) { width: 40px; height: 40px; margin: 10px 3vw }
					@include respond-to( xs ) { width: 50px; height: 50px; margin: 10px 3vw }
					@include respond-to( sm ) { width: 60px; height: 60px; margin: 10px 3vw }
				}

			}

		}
		

		.skyrocket-connect-logo {
			width: 163px;
			margin: 0 auto; 
		}


		.copywrite {
			margin: 0 auto;
			margin: 0.5vw 0 30px 0; 


			p {
				width: 80%;
				font-family: Monsterrat_Rg, Helvetica, sans-serif;
				font-size: 0.7em;
				letter-spacing: 0px;
				color: $rc_blue;
				text-align: center;
				margin: 0 auto;  
			}
		}

	}

}
